@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Seja um Cliente Master!</h1>
    <p class="lead">Para se tornar um Cliente Master é bem simples:</p>
    <p>PRATA: Ser cadastrado há mais de 5 anos.</p>
    <p>OURO: Cadastrar mais de 2.000 Produtos.</p>
    <p>PLATINA: Cadastrar mais de 5.000 Produtos.</p>
    <p>DIAMANTE: Cadastrar mais de 10.000 Produtos.</p>
    <p>Clique no Menu Clientes e Cadastre-se gratuitamente!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Diamante</h2>
        <p>
            Cadastrar mais de 10.000 Produtos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Platina</h2>
        <p>Cadastrar mais de 5.000 Produtos.</p>
    </div>
    <div class="col-md-4">
        <h2>Ouro</h2>
            <p>Cadastrar mais de 2.000 Produtos.</p>
    </div>
</div>